.container-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 80%;

}



.flex-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 50px 20px;
    background-color: #fff;
    justify-content: space-evenly;
    
}


.flex-container li {
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border: 1px rgb(124, 123, 122) solid;
    cursor: pointer;
   
}

#fNameDashboard,#logout {

border: 0;

}


.inner-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.banks {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}

.banks:hover {
    transform: scale(1.1);
}
