* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    height: 100vh;
    width: 100%;
    background-color: #016FB9;
 
}

input {
    padding: 15px 5px;
    text-align: center;
    font-size:  25px;
    border:1px solid rgb(153, 151, 151)
}

button {
    padding: 15px 5px;
    border:0;
    font-size: 25px;
    background-color: #0462a0;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #407ba3;
}

input:focus {

    outline: none;
}

h1 {
    font-size: 40px;
}

.text-align-left {
    text-align: left;
}

.mt-10 {
    margin-top:  10px;
}

a {
    cursor: pointer;
    color: #016FB9
}

a:hover {
    color: #6492b1
}